
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
</div>

<div class="aboutus">
    <div class="container">
        <h3>Our Excell-On Services information</h3>
        <hr>
        <div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="/assets/Client/images/7.jpg" class="img-responsive">
            <h4>About Us</h4>
            <p>
                Being a part of this industry for decades has aided us to fill the deficiencies and offer exactly what our clients are looking for. With the unmatched services offered by our team, we have observed great transformation in businesses. Our extreme dedication to our clients and zeal to offer satisfied result boost the entire process along with operational efficiencies. We are available for businesses across geographies and wish to expand our services in other parts of the world in the coming years.
            </p>
        </div>
        <div class="col-md-5 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="skill">
                <h2>Overview</h2>
                <p>Since inception, we have always emphasized on understanding our clients’ needs. As we have clients from various domains and from different parts of the globe reaching us to improve their customer support system, we primarily aim to understand their business. The prime objective is to offer right information to the customers and help business grow. Once the leaders have the knowledge about your industry, they transfer and train the agents to answer the queries of your customers.</p>
                <p>We have faced and successfully handled the challenges that were thrown to us. With such relentless hard work and passion, we now have become a leader of this realm. We cannot deny that our team is the heart of this organization and reason for attaining the growth. Our strong team makes and defines us.</p>
            </div>
        </div>
    </div>
</div>

<div class="our-team">
    <div class="container">
        <h3>Our Team</h3>
        <div class="text-center">
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="/assets/Client/images/services/1.jpg" alt="">
                <h4>John Doe</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <img src="/assets/Client/images/services/2.jpg" alt="">
                <h4>John Doe</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="/assets/Client/images/services/3.jpg" alt="">
                <h4>Dang Minh</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
            </div>
        </div>
    </div>
</div>